
body{    
  background: linear-gradient(to bottom,  #c7443f, #f4f409  );
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 12px;
  background-repeat: no-repeat;
}
form{
  background-color: white;
  padding: 40px 60px 40px 40px;   
}
.blok1{
  padding-top: 20px;
  background-image:url(./image/images.jpeg) ;
  background-size: cover; 
  height: 300px;
  width: 250px;
}
h1{
  text-align:center;
  color:white
}
h4{
  margin-top: 190px;
  text-align:center;
  color:white
}
hr {
  margin: 0px 50px;
  border-top: 1px solid #bbb;
  border-radius: 5px;
}

.blok {
  align-items: center;
  margin: 90px;
  margin-left: 250px;   
  display: flex;
  flex-direction: row;
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 980px) {
  .blok {
    flex-direction: column;
  }
  }


input[type=text] {
  /* width: 100%; */
  padding: 1px 2px;
  margin: 8px 0;
  /* box-sizing: border-box; */
}
input[type=email]{
  padding: 1px 2px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid  green;
}
input[type=text] {
  border: none;
  border-bottom: 2px solid  green;
}
input[type=password]{
  padding: 1px 2px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid green;
}
input[type=confirmpassword]{
  padding: 1px 2px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid yellow;
}
.flex-container {
  display: flex;
  flex-direction: column;
}
.btn{
  margin-top: 20px;
  display: flex;}

.button {
  border-radius: 4px;
  background-color: #141dc4;
  border: none;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button:hover{
  color: #924380;}

.button_SignIn{
  border-radius: 4px;
  background-color: white;
  border: none;
  color: #1812c6;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  width: 120px;
  cursor: pointer;
  margin: 5px;
}
  .button_SignIn:hover{
  color: #924380;
}
p{
  padding-left: 8px;
}
